.cart-summary-wrapper {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 8px;
    padding: 1rem;
    height: max-content;
}
.cart-summary-wrapper hr {
    margin: 0.5rem 0;
}
.cart-summary-wrapper .item {
    display: flex;
    justify-content: space-between;
}
